* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

#app {
    width: 100%;
    height: 100%;
}

#app canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}